
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato&family=Libre+Franklin&family=Nunito+Sans:opsz@6..12&family=Ubuntu&display=swap');

* {
  font-family: 'Nonito Sans', sans-serif;
}

body {
  background-color: #FEFFFE;
  margin: 0;
  
}

@media screen and (max-width: 480px) {
  html {
    width: 100%;
  }

  body {
    width: 100%;
  }
}


