#email-container {
    margin: 0 1rem;
}

#email-container .unread-emails .notification-badge {
    display: inline-block;
    background-color: #C6C6C6;
    color: #f2f2f2;
    border-radius: 50%;
    padding: 0.2em 0.5em;
}

#email-container .unread-emails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A6A7A7;
}

#email-card-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    min-width: min-content;
}
  
.email-header {
    border: 2px solid #EFEEEF;
    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-header div:nth-child(2n) {
  display: flex;
  gap: 0.5rem;
}

.email-select {
  width: 1rem;
  height: 1rem;
}

.email-header:hover {
  background-color: #EFEEEF;
  cursor: pointer;
}

.email-header > div {
    display: flex;
    align-items: center;
    gap: 8px;
}


  
.status-badge {
    display: inline-block;
    background-color: #76A679;
    border-radius: 50%;
    height: 0.8rem;
    min-width: 0.8rem;
}

.email-header-time {
  border: 2px solid #EAEBEA;
  background-color: #F8F8F9;
  font-weight: bold;
  border-radius: 0.4rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-header-time div:last-child {
  font-size: 0.8rem;
}
  
.sender-badge {
    display: inline-block;
    background-color: #8C8C8C;
    color: #f2f2f2;
    border-radius: 50%;
    height: 1.5rem;
    text-align: center;
    padding: 0.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
}

.email-header-content {
  display: flex;
  flex-direction: column;
}

.email-header-content h3, .email-header-content p {
    margin: 0;
    padding: 0;
}

.fa-grip-vertical {
  color: #8C8C8C;
}

.email-header-tags {
 display: flex;
 flex-direction: column;
 gap: 0.1rem;
 align-items: flex-end;
}

.email-header-tags div:last-child{
  display: flex;
  gap: 0.1rem;
}

.email-dropdown-button span:first-child {
  color: #D9CBA3;
  background-color: #FEFADC;
  border-radius: 0.3rem;
  padding: 0.1rem;
  min-width: max-content;
}

.fa-caret-down {
  margin-left: 0.5rem;
}

.email-card {
  border: 2px solid #EFEEEF;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email-card p {
  padding: 0;
  margin: 0;
}

.email-card h4 {
  margin: 0;
}

.email-card-content{
  flex: 1;
}

.email-card-tags {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  flex-wrap: wrap;
  height: fit-content;
}

.email-card-tags .tag, .email-header-tags .tag {
  border: 2px solid #ADBABD;
  color: #86A0A6;
  background-color: #F7FBFF;
  height: fit-content;
  padding: 0.1rem;
  border-radius: 0.3rem;
  text-align: center;
  width: fit-content;
}


.email-card-content p:nth-of-type(2n) {
  text-align: justify;
}

.email-card-metadata {
  font-size: 0.9rem;
}