#email-container {
    margin: 0 1rem;
}

#email-container .unread-emails .notification-badge {
    display: inline-block;
    background-color: #C6C6C6;
    color: #f2f2f2;
    border-radius: 50%;
    padding: 0.2em 0.5em;
}

#email-container .unread-emails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #A6A7A7;
}